@import 'bulma/css/bulma.css';

html,
body,
#root,
.App {
    height: 100%;
}

.notification {
    animation: fadeInOut 6s forwards;
}


@keyframes fadeInOut {
    0%, 85%, 100% {
      opacity: 0;
    }
    15%, 70% {
      opacity: 1;
    }
  }
